@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table > thead > tr > th:not(:first-child),
  table > tbody > tr > td:not(:first-child) {
    @apply border-l-2 border-border;
  }
}

table > thead.thead-shadow {
  box-shadow: 0px 0px 15px #555555;
}

@layer utilities {
  .fade-in-parent > * {
    @apply animate-fade-in;
  }
  .rounded-thead > thead > tr {
    @apply *:rounded-tr-lg  first:*:rounded-tl-lg first:*:rounded-tr-none *:rounded-br-lg first:*:rounded-bl-lg first:*:rounded-br-none;
  }
}

/* default vite styles */
* {
  font-weight: 100;
}

:root {
  font-family: "Geist";
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
